<div class="post-detail-header">
  <h1 class="post-detail-title">
    <%= post.title %>
  </h1>

  <p class="post-detail-time">
    <%= time_tag post.created_at, "data-local": "time-ago" %>
  </p>
</div>

<div class="post">
  <div class="post-detail">
    <p class="post-detail-content">
      <%= markdown(post.content) %>
    </p>
  </div>
</div>

<div class="post--action">
  <%= link_to "编辑", edit_post_path(post), class: "btn btn--primary" %>
  <%= button_to "删除", post_path(post), method: :delete, class: "btn btn--primary", form: { data: { turbo_confirm: "你想好了没啊?" } } %>
</div>



