<%= turbo_frame_tag "header" do %>
  <div class="post-detail-header">
    <h1 class="post-detail-title">
      <%= post.title %>
    </h1>

    <p class="post-detail-time">
      <%= time_tag post.created_at %>
    </p>
  </div>

  <div class="post-detail">
    <p class="post-detail-content">
      <%= markdown(post.content) %>
    </p>
  </div>

  <div>
    <%= link_to "Edit post", edit_post_path, data: {turbo_frame: "_top"} %>
  </div>
<% end %>




