<div>
  <div class="main">
    <div class="header-site-info">
      <div class="header-site-info-container">
        <h1><%= Settings.default.page_title %></h1>
        <p id="introduce"><%= Settings.default.introduce %></p>
      </div>
    </div>
    <div class="header-scroll-down"></div>
  </div>
</div>

<div class="container">
  <div class="container main">
    <div id="posts" class="container-posts">
      <% @records.each do |post| %>
        <div class="post-desc">
          <p class="post-desc-title">
            <%= link_to post.title, post_path(post), data: { turbo_frame: "_top" } %>
          </p>

          <p class="post-desc-time">
            <%= local_time(post.created_at, '%Y-%M-%e %l:%M') %>
          </p>

          <p class="post-desc-content">
            <%= truncate(strip_tags(post.content), length: 50) %>
          </p>
        </div>
      <% end %>

      <div style="text-align: center; padding-top: 3em">
        <%== pagy_foundation_nav(@pagy) %>
      </div>
    </div>

    <div class="container-sidebar">
      <div class="container-sidebar-item">
        <div class="container-sidebar-pic"></div>

        <div style="text-align: center"><%= Settings.default.introduce %></div>

        <div class="container-sidebar-counter">
          <div class="container-sidebar-counter_item">
            <i class="fas fa-book fa-2x"></i>
            <div class="counter"><%= Post.count %></div>
            <span>文章</span>
          </div>

          <div class="container-sidebar-counter_item">
            <i class="fas fa-tags fa-2x"></i>
            <div class="counter"><%= Tag.count %></div>
            <span>标签</span>
          </div>

          <div class="container-sidebar-counter_item">
            <i class="fas fa-th-large fa-2x"></i>
            <div class="counter"><%= Category.count %></div>
            <span>分类</span>
          </div>
        </div>
      </div>

      <div class="container-sidebar-item">
        <div class="container-sidebar-item-title"><i class="fas fa-history" style="margin-right: 5px"></i>最近文章</div>
        <div style="display: flex; flex-direction: column; align-items: flex-start; gap: 1em">
          <% @top_posts.each do |post| %>
            <div class="post-sidebar">
              <p class="post-sidebar-title">
                <%= link_to post.title, post_path(post), data: { turbo_frame: "_top" } %>
              </p>
              <p class="post-sidebar-time">
                <%= local_time(post.created_at, '%Y-%M-%e %l:%M') %>
              </p>
            </div>
          <% end %>
        </div>

      </div>

      <div class="container-sidebar-item">
        <div class="container-sidebar-item-title"><i class="fas fa-folder-open" style="margin-right: 5px"></i>分类</div>
        <% @categories.each do |category| %>
          <div class="container-sidebar-item-category">
            <span style="width: 15em; font-weight: bold"><%= link_to category.name, category, style: 'text-align: left;' %></span>
            <span style="text-align: right;  "><%= category.posts.count %></span>
          </div>
        <% end %>
      </div>

      <div class="container-sidebar-item">
        <div class="container-sidebar-item-title"><i class="fas fa-tags" style="margin-right: 5px"></i>标签</div>
        <div class="container-sidebar-item-tags">
          <% @tags.each do |tag| %>
            <span><%= link_to tag.name, tag , style: "font-weight: bold" %></span>
          <% end %>
        </div>
      </div>

      <div class="container-sidebar-item">
        <div class="container-sidebar-item-title"><i class="fas fa-archive" style="margin-right: 5px"></i>归档</div>
        <% @result.each do |row| %>
          <div style="display: flex; justify-content: space-around; align-items: center; width: 100%">
            <div style="font-weight: bold">
              <span><%= row["year"] %>-<%= row["month"] %></span>
            </div>
            <div><%= row["count"] %></div>
          </div>
        <% end %>
      </div>

      <div class="container-sidebar-item">
        <div class="container-sidebar-item-title"><i class="fas fa-chart-line" style="margin-right: 5px"></i>网站资讯
        </div>

      </div>
    </div>
  </div>
</div>


