<div>
  <div class="main">
    <div class="header-site-info">
      <div class="header-site-info-container">
        <h1>Welcome To My Website</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores, consequuntur?</p>
      </div>
    </div>
    <div class="header-scroll-down"></div>
  </div>
  <div class="sidebar"></div>
</div>

<div class="container">
  <div class="container main">
    <div id="posts" class="container-posts">
      <% @records.each do |post| %>
        <div class="post-desc">
          <p class="post-desc-title">
            <%= link_to post.title, post_path(post), data: { turbo_frame: "_top" } %>
          </p>

          <p class="post-desc-time">
            <%= time_tag post.created_at, "data-local": "time-ago" %>
          </p>

          <p class="post-desc-content">
            <%= truncate(strip_tags(post.content), length: 50) %>
          </p>
        </div>
      <% end %>

      <div style="text-align: center; padding-top: 3em">
        <%== pagy_foundation_nav(@pagy) %>
      </div>
    </div>

    <div class="container-sidebar">
      <div class="container-sidebar-item">
        <div class="container-sidebar-pic"></div>

        <div style="text-align: center">要么读书，要么旅行，身体和心灵总有一个要在路上.</div>

        <div class="container-sidebar-counter">
          <div class="container-sidebar-counter_item">
            <i class="fas fa-book fa-2x"></i>
            <div class="counter" data-target="12000">53</div>
            <span>文章</span>
          </div>

          <div class="container-sidebar-counter_item">
            <i class="fas fa-tags fa-2x"></i>
            <div class="counter" data-target="12000">46</div>
            <span>标签</span>
          </div>

          <div class="container-sidebar-counter_item">
            <i class="fas fa-th-large fa-2x"></i>
            <div class="counter" data-target="12000">15</div>
            <span>分类</span>
          </div>
        </div>
      </div>

      <div class="container-sidebar-item">
        <% @top_posts.each do |post| %>
          <div class="post-sidebar">
            <p class="post-sidebar-title">
              <%= link_to post.title, post_path(post), data: { turbo_frame: "_top" } %>
            </p>
            <p class="post-sidebar-time">
              <%= time_tag post.created_at, "data-local": "time-ago" %>
            </p>
          </div>
        <% end %>
      </div>

      <div class="container-sidebar-item">
        分类
      </div>

      <div class="container-sidebar-item">
        标签
      </div>

      <div class="container-sidebar-item">
        归档
      </div>

      <div class="container-sidebar-item">
        网站资讯
      </div>
    </div>
  </div>
</div>


