<!DOCTYPE html>
<html>
<head>
  <title>MyBlog</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>

<body>
<header class="header">
  <div id="header-nav" class="header-nav">
    <h1 class="header-nav-log"><%= link_to "玲辰书斋", posts_path %></h1>
    <ul class="header-nav-menus">
      <li class="header-nav-item"><%= link_to "搜索" %></li>
      <li class="header-nav-item"><%= link_to "主页" %></li>
      <li class="header-nav-item"><%= link_to "标签" %></li>
      <li class="header-nav-item"><%= link_to "分类" %></li>
      <li class="header-nav-item"><%= link_to "关于笔者" %></li>
      <li class="header-nav-item"><%= link_to "新建", new_post_path %></li>
    </ul>
  </div>
</header>
<%= yield %>
<footer class="footer">
  <h1>Footer</h1>
</footer>
</body>
</html>
